<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<aside>
  <br><br>
  <li
    *reclamationHasAnyAuthority="'ROLE_USER'"
    ngbDropdown
    class="nav-item dropdown pointer"
    display="dynamic"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <h1 class="text-center mt-4 custom-font" style="font-family: 'Montserrat', sans-serif; color: #2c2a2a; font-size: 22px; font-weight: bold;">
      <i class="fa fa-user" aria-hidden="true"></i>
      ESPACE CLIENT
    </h1>
  </li>
  <li
    *reclamationHasAnyAuthority="'ROLE_ADMIN'"
    ngbDropdown
    class="nav-item dropdown pointer"
    display="dynamic"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <h1 class="text-center mt-4 custom-font" style="font-family: 'Montserrat', sans-serif; color:#2c2a2a; font-size: 22px; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 20px; text-decoration: none;">
      <i class="fa fa-cogs" aria-hidden="true"></i>
      ESPACE RESPONSABLE
    </h1>
  </li>
  <li
    *reclamationHasAnyAuthority="'ROLE_DEV'"
    ngbDropdown
    class="nav-item dropdown pointer"
    display="dynamic"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <h1 class="text-center mt-4 custom-font" style="font-family: 'Montserrat', sans-serif; color:#2c2a2a; font-size: 22px; font-weight: bold;">
      <i class="fa fa-code" aria-hidden="true"></i>
      ESPACE DEVELOPPEUR
    </h1>
  </li>
  <br><br><br>
  <li
    *reclamationHasAnyAuthority="'ROLE_ADMIN'"
    ngbDropdown
    class="nav-item dropdown pointer"
    display="dynamic"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a routerLink="/admin/user-management">
      <i class="fa fa-users" aria-hidden="true"></i>
      Gestion des utilisateurs
    </a>
    <br>
  </li>
  <a routerLink="/account/settings">
    <i class="fa fa-cog" aria-hidden="true"></i>
    Profil
  </a>
  <br>
  <li
    *reclamationHasAnyAuthority="'ROLE_USER'"
    ngbDropdown
    class="nav-item dropdown pointer"
    display="dynamic"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a routerLink="/reclamation/new">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Nouvelle Réclamation
    </a>
    <br>
  </li>
  <li
    *reclamationHasAnyAuthority="'ROLE_ADMIN'"
    ngbDropdown
    class="nav-item dropdown pointer"
    display="dynamic"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a routerLink="/reclamation/new">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      Envoyer Réclamation
    </a>
    <br>
  </li>
  <li
    *reclamationHasAnyAuthority="'ROLE_DEV'"
    ngbDropdown
    class="nav-item dropdown pointer"
    display="dynamic"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a routerLink="/reclamation/new">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      Nouvelle correction
    </a>
    <br>
  </li>
  <a routerLink="/reclamation">
    <i class="fa fa-list" aria-hidden="true"></i>
    Liste des Réclamations
  </a>
  <br>
  <a routerLink="/correction">
    <i class="fa fa-list" aria-hidden="true"></i>
    Liste des Corrections
  </a>
  <br>
  <a routerLink="/historiqueCorrection">
    <i class="fa fa-history" aria-hidden="true"></i>
    historique des corrections
  </a>
  <br>
  <a routerLink="/historiqueReclamation">
    <i class="fa fa-history" aria-hidden="true"></i>
    historique des réclamations
  </a>
  <br>

  <a (click)="logout()" id="logout" data-cy="logout">
    <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
    <span>Déconnexion</span>
  </a>
  <br>

</aside>


</body>
</html>
