<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Combined HTML with CSS</title>
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    body {
      font-family: Rubik, Arial, sans-serif;
      font-weight: 400;
      font-size: 1rem;
      overflow-x: hidden;
      color: #3f5efb;
    }

    h5 {
      font-size: 1rem;
      line-height: 1.375;
      font-family: Rubik, Arial, sans-serif;
      font-weight: 500;
      color: #030929;
    }

    a {
      color: #818494;
      font-weight: 500;
      text-decoration: none;
      background-color: transparent;
    }

    a:hover {
      color: #007bff;
      text-decoration: none;
    }

    footer {
      background: #ebf4fa;
    }
  </style>
</head>
<body>

<footer>
  <div class="container pt-5 border-bottom">
    <div class="row">
      <div class="col-md-3 col-sm-12 mb-3 text-center">
        <svg class="img-fluid" width="200px" height="60px" viewBox="0 0 200 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        </svg>
      </div>
      <div class="col-md-9 col-sm-12">
        <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3">
          <h5 class="mb-4 font-weight-bold text-uppercase">Solutions</h5>
          <ul class="list-group">
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../sales/sales-performance-market-pipeline.html">Sales</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../project-management/project-management.html">Project Management</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../workforce/workforce-organization-management-hr.html">Workforce</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../e-commerce/e-commerce.html">E-Commerce</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../finance/finance-accounting-erp.html">Finance</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../business-apps/business-apps.html">Business Apps</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-6 p-0 mb-3 float-left">
          <h5 class="mb-4 font-weight-bold text-uppercase">Developers</h5>
          <ul class="list-group">
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="https://github.com/naologic">Open Source</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="https://stackshare.io/naologic">Technology</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left">
          <h5 class="mb-4 font-weight-bold text-uppercase">Company</h5>
          <ul class="list-group">
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../about-naologic.html">About</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="https://blog.naologic.com">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left">
          <h5 class="mb-4 font-weight-bold text-uppercase">Connect</h5>
          <ul class="list-group">
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="https://www.linkedin.com/company/gpro-consulting/"><i class="fab fa-linkedin mr-1"></i> LinkedIn</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="https://www.instagram.com/gproconsulting/"><i class="fab fa-instagram mr-1"></i> Instagram</a></li>            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="https://plus.google.com/109511516185666043480" target="_blank"><i class="fab fa-google-plus mr-1"></i> Google+</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="https://www.facebook.com/p/GPRO-Consulting-100057043189576/" target="_blank"><i class="fab fa-facebook mr-1"></i> Facebook</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="py-4 d-flex justify-content-center align-items-center">
          <a class="mr-4" href="../privacy.html">Privacy & terms</a>
          <a href="../sitemap.xml">Sitemap</a>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
