<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
      body,
      html {
        margin: 0px;
        padding: 0px;
        height: 100%;
        overflow: hidden;
        background-color: #f5f5f5;
      }
    </style>
  </head>
  <body>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
      <div class="container-fluid">
        <div class="row">
          <h2 class="text-center mt-4" id="corrections-heading" data-cy="CorrectionsHeading">
            <strong class="corrections-title" style="font-weight: bold; font-family: Arial, sans-serif">Historique Corrections</strong>
          </h2>
          <li
            *reclamationHasAnyAuthority="'ROLE_USER'"
            ngbDropdown
            class="nav-item dropdown pointer"
            display="dynamic"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <reclamation-alert-error></reclamation-alert-error>

            <reclamation-alert></reclamation-alert>

            <reclamation-filter [filters]="filters"></reclamation-filter>

            @if (reclamations?.length === 0) {
              <div class="alert alert-warning" id="no-result">
                <span reclamationTranslate="pfeApp.reclamation.home.notFound">Aucun Reclamation trouvé</span>
              </div>
            }

            @if (reclamations && reclamations.length > 0) {
              <div class="table-responsive table-entities" id="entities">
                <table class="table table-striped" aria-describedby="page-heading">
                  <thead>
                    <tr reclamationSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
                      <th scope="col" reclamationSortBy="id">
                        <div class="d-flex">
                          <span reclamationTranslate="global.field.id">ID</span>
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col" reclamationSortBy="categorie">
                        <div class="d-flex">
                          <span>Nom du projet</span>
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col" reclamationSortBy="numero">
                        <div class="d-flex">
                          <span reclamationTranslate="pfeApp.reclamation.numero">Plainte</span>
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col" reclamationSortBy="date">
                        <div class="d-flex">
                          <span reclamationTranslate="pfeApp.reclamation.date">Date</span>
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col" reclamationSortBy="etatContentType">
                        <div class="d-flex">
                          <span>Piece Jointe</span>
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (reclamation of reclamations; track trackId) {
                      @if (reclamation.etat === 'isValid' && settingsForm.value.email === reclamation.email) {
                        <tr data-cy="entityTable">
                          <td>
                            <a [routerLink]="['/reclamation', reclamation.id, 'view']">{{ reclamation.id }}</a>
                          </td>
                          <td>{{ reclamation.categorie }}</td>
                          <td>{{ reclamation.numero }}</td>
                          <td>{{ reclamation.date | formatMediumDate }}</td>

                          <td>
                            @if (reclamation.personne) {
                              <div>
                                <a [routerLink]="['/personne', reclamation.personne.id, 'view']">{{ reclamation.personne.id }}</a>
                              </div>
                            }
                          </td>
                          <td class="text-end">
                            <div class="btn-group">
                              <a
                                [routerLink]="['/reclamation', reclamation.id, 'view']"
                                class="btn btn-info btn-sm"
                                data-cy="entityDetailsButton"
                              >
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">Voir</span>
                              </a>
                              <button
                                type="submit"
                                (click)="confirmDelete(reclamation.id!)"
                                class="btn btn-danger btn-sm"
                                data-cy="entityDeleteButton"
                              >
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Supprimer</span>
                              </button>
                            </div>
                          </td>
                        </tr>
                      }
                    }
                  </tbody>
                </table>
              </div>
            }
          </li>
          <li
            *reclamationHasAnyAuthority="'ROLE_ADMIN'"
            ngbDropdown
            class="nav-item dropdown pointer"
            display="dynamic"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <reclamation-alert-error></reclamation-alert-error>

            <reclamation-alert></reclamation-alert>

            <reclamation-filter [filters]="filters"></reclamation-filter>

            @if (reclamations?.length === 0) {
              <div class="alert alert-warning" id="no-result">
                <span reclamationTranslate="pfeApp.reclamation.home.notFound">Aucun Reclamation trouvé</span>
              </div>
            }

            @if (reclamations && reclamations.length > 0) {
              <div class="table-responsive table-entities" id="entities">
                <table class="table table-striped" aria-describedby="page-heading">
                  <thead>
                    <tr reclamationSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
                      <th scope="col" reclamationSortBy="id">
                        <div class="d-flex">
                          <span reclamationTranslate="global.field.id">ID</span>
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col" reclamationSortBy="categorie">
                        <div class="d-flex">
                          <span>Nom du projet</span>
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col" reclamationSortBy="numero">
                        <div class="d-flex">
                          <span reclamationTranslate="pfeApp.reclamation.numero">Plainte</span>
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col" reclamationSortBy="date">
                        <div class="d-flex">
                          <span reclamationTranslate="pfeApp.reclamation.date">Date</span>
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col" reclamationSortBy="etatContentType">
                        <div class="d-flex">
                          <span>Piece Jointe</span>
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (reclamation of reclamations; track trackId) {
                      @if (reclamation.etat === 'isValid') {
                        <tr data-cy="entityTable">
                          <td>
                            <a [routerLink]="['/reclamation', reclamation.id, 'view']">{{ reclamation.id }}</a>
                          </td>
                          <td>{{ reclamation.categorie }}</td>
                          <td>{{ reclamation.numero }}</td>
                          <td>{{ reclamation.date | formatMediumDate }}</td>
                          <td>
                            @if (reclamation.personne) {
                              <div>
                                <a [routerLink]="['/personne', reclamation.personne.id, 'view']">{{ reclamation.personne.id }}</a>
                              </div>
                            }
                          </td>
                          <td class="text-end">
                            <div class="btn-group">
                              <a
                                [routerLink]="['/reclamation', reclamation.id, 'view']"
                                class="btn btn-info btn-sm"
                                data-cy="entityDetailsButton"
                              >
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">Voir</span>
                              </a>
                              <button
                                type="submit"
                                (click)="confirmDelete(reclamation.id!)"
                                class="btn btn-danger btn-sm"
                                data-cy="entityDeleteButton"
                              >
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Supprimer</span>
                              </button>
                            </div>
                          </td>
                        </tr>
                      }
                    }
                  </tbody>
                </table>
              </div>
            }
          </li>
          <li
            *reclamationHasAnyAuthority="'ROLE_DEV'"
            ngbDropdown
            class="nav-item dropdown pointer"
            display="dynamic"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <reclamation-alert-error></reclamation-alert-error>

            <reclamation-alert></reclamation-alert>

            <reclamation-filter [filters]="filters"></reclamation-filter>

            @if (reclamations?.length === 0) {
              <div class="alert alert-warning" id="no-result">
                <span reclamationTranslate="pfeApp.reclamation.home.notFound">Aucun Reclamation trouvé</span>
              </div>
            }

            @if (reclamations && reclamations.length > 0) {
              <div class="table-responsive table-entities" id="entities">
                <table class="table table-striped" aria-describedby="page-heading">
                  <thead>
                    <tr reclamationSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
                      <th scope="col" reclamationSortBy="id">
                        <div class="d-flex">
                          <span reclamationTranslate="global.field.id">ID</span>
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col" reclamationSortBy="categorie">
                        <div class="d-flex">
                          <span>Nom du projet</span>
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col" reclamationSortBy="numero">
                        <div class="d-flex">
                          <span reclamationTranslate="pfeApp.reclamation.numero">Plainte</span>
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col" reclamationSortBy="date">
                        <div class="d-flex">
                          <span reclamationTranslate="pfeApp.reclamation.date">Date</span>
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col" reclamationSortBy="etatContentType">
                        <div class="d-flex">
                          <span>Piece Jointe</span>
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (reclamation of reclamations; track trackId) {
                      @if (reclamation.etat === 'isValid') {
                        <tr data-cy="entityTable">
                          <td>
                            <a [routerLink]="['/reclamation', reclamation.id, 'view']">{{ reclamation.id }}</a>
                          </td>
                          <td>{{ reclamation.categorie }}</td>
                          <td>{{ reclamation.numero }}</td>
                          <td>{{ reclamation.date | formatMediumDate }}</td>
                          <td>
                            @if (reclamation.personne) {
                              <div>
                                <a [routerLink]="['/personne', reclamation.personne.id, 'view']">{{ reclamation.personne.id }}</a>
                              </div>
                            }
                          </td>
                          <td class="text-end">
                            <div class="btn-group">
                              <a
                                [routerLink]="['/reclamation', reclamation.id, 'view']"
                                class="btn btn-info btn-sm"
                                data-cy="entityDetailsButton"
                              >
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">Voir</span>
                              </a>
                              <button
                                type="submit"
                                (click)="confirmDelete(reclamation.id!)"
                                class="btn btn-danger btn-sm"
                                data-cy="entityDeleteButton"
                              >
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Supprimer</span>
                              </button>
                            </div>
                          </td>
                        </tr>
                      }
                    }
                  </tbody>
                </table>
              </div>
            }
          </li>
          <div class="text-center mt-2">
            <button class="btn btn-info font-weight-bold" (click)="load()" [disabled]="isLoading">
              <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
              <span>Actualiser les listes</span>
            </button>
          </div>
          <!-- <button
        id="jh-create -entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-commentaire"
        [routerLink]="['/commentaire/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Ajouter un Commentaire</span>
      </button>-->
        </div>
      </div>
    </div>
  </body>
</html>
