<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body, html {
      margin: 0px;
      padding: 0px;
      height: 100%;
      overflow: hidden;
      background-color: #f5f5f5;
    }
  </style>
</head>
<body>
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="container-fluid">

    <h2 class="text-center" id="user-management-page-heading" data-cy="userManagementPageHeading" style="font-family: Arial, sans-serif; font-weight: bold; color:#5993b0;">Gestion <span style="font-weight: normal;color:black;">des utilisateurs</span>
    </h2>

    <div class="d-flex justify-content-end mt-3">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span reclamationTranslate="userManagement.home.refreshListLabel">Actualiser la liste</span>
      </button>
    </div>


    <reclamation-alert-error></reclamation-alert-error>

  <reclamation-alert></reclamation-alert>

  @if (users) {
    <div class="table-responsive">
      <table class="table table-striped" aria-describedby="user-management-page-heading">
        <thead>
          <tr reclamationSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
            <th scope="col" reclamationSortBy="id">
              <span reclamationTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" reclamationSortBy="login">
              <span reclamationTranslate="userManagement.login">Login</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" reclamationSortBy="email">
              <span reclamationTranslate="userManagement.email">Email</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
            <th scope="col" reclamationSortBy="langKey">
              <span reclamationTranslate="userManagement.langKey">Langue</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"><span reclamationTranslate="userManagement.profiles">Droits</span></th>
            <th scope="col" reclamationSortBy="createdDate">
              <span reclamationTranslate="userManagement.createdDate">Créé le</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" reclamationSortBy="lastModifiedBy">
              <span reclamationTranslate="userManagement.lastModifiedBy">Modifié par</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" reclamationSortBy="lastModifiedDate">
              <span reclamationTranslate="userManagement.lastModifiedDate">Modifié le</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        @if (users) {
          <tbody>
            @for (user of users; track trackIdentity) {
              <tr>
                <td>
                  <a [routerLink]="['./', user.login, 'view']">{{ user.id }}</a>
                </td>
                <td>{{ user.login }}</td>
                <td>{{ user.email }}</td>
                <td>
                  @if (!user.activated) {
                    <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" reclamationTranslate="userManagement.deactivated">
                      Désactivé
                    </button>
                  } @else {
                    <button
                      class="btn btn-success btn-sm"
                      (click)="setActive(user, false)"
                      [disabled]="!currentAccount || currentAccount.login === user.login"
                      reclamationTranslate="userManagement.activated"
                    >
                      Activé
                    </button>
                  }
                </td>
                <td>{{ user.langKey }}</td>
                <td>
                  @for (authority of user.authorities; track $index) {
                    <div>
                      <span class="badge bg-info">{{ authority }}</span>
                    </div>
                  }
                </td>
                <td>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
                <td>{{ user.lastModifiedBy }}</td>
                <td>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>
                <td class="text-end">
                  <div class="btn-group">
                    <button type="submit" [routerLink]="['./', user.login, 'view']" class="btn btn-info btn-sm">
                      <fa-icon icon="eye"></fa-icon>
                      <span class="d-none d-md-inline" reclamationTranslate="entity.action.view">Voir</span>
                    </button>

                    <button
                      type="submit"
                      [routerLink]="['./', user.login, 'edit']"
                      queryParamsHandling="merge"
                      class="btn btn-primary btn-sm"
                    >
                      <fa-icon icon="pencil-alt"></fa-icon>
                      <span class="d-none d-md-inline" reclamationTranslate="entity.action.edit">Editer</span>
                    </button>

                    <button
                      type="button"
                      (click)="deleteUser(user)"
                      class="btn btn-danger btn-sm"
                      [disabled]="!currentAccount || currentAccount.login === user.login"
                    >
                      <fa-icon icon="times"></fa-icon>
                      <span class="d-none d-md-inline" reclamationTranslate="entity.action.delete">Supprimer</span>
                    </button>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        }
      </table>
    </div>
  }

  @if (users) {
    <div>
      <div class="d-flex justify-content-center">
        <reclamation-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></reclamation-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="transition()"
        ></ngb-pagination>
      </div>
    </div>
  }
    <div class="d-flex justify-content-end mt-3">
      <button class="btn btn-danger jh-create-entity" [routerLink]="['./new']">
        <fa-icon icon="plus"></fa-icon> <span reclamationTranslate="userManagement.home.createLabel">Créer un nouvel utilisateur</span>
      </button>
    </div>


  </div>
</div>


</body>
</html>
