@if (user) {
  <form
    name="deleteForm"
    (ngSubmit)="confirmDelete(user.login!)"
    style="font-family: Arial, sans-serif; color: #333; background-color: #f2f2f2"
  >
    <div class="modal-header" style="background-color: #333; color: #fff">
      <h4 class="modal-title" reclamationTranslate="entity.delete.title">Confirmation de suppression</h4>

      <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()" style="color: #fff">
        &times
      </button>
    </div>

    <div class="modal-body">
      <reclamation-alert-error></reclamation-alert-error>

      <p reclamationTranslate="userManagement.delete.question" [translateValues]="{ login: user.login }" style="color: #333">
        Etes-vous certain de vouloir supprimer l&apos;utilisateur {{ user.login }} ?
      </p>
    </div>

    <div class="modal-footer" style="background-color: #333">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()" style="color: #fff">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span reclamationTranslate="entity.action.cancel">Annuler</span>
      </button>

      <button type="submit" (click)="confirmDelete(user.login!)" class="btn btn-danger" style="color: #fff">
        <fa-icon icon="times"></fa-icon>&nbsp;<span reclamationTranslate="entity.action.delete">Supprimer</span>
      </button>
    </div>
  </form>
}
